@font-face {
  src: url('/fonts/HelveticaNowVar.woff2') format('woff2-variations');
  font-family: 'Helvetica';
  font-style: normal;
}


:root {

  --primary-color: #0f233b;
  --primary-dark: #01377b;
  --secondary-color: #7fb7fa;

  --primary-color-30: rgba(1, 56, 123, 0.3);

  --text-color: #AAD1FF;

  --helvetica: 'Helvetica', sans-serif;
  --font-family-cursive: "Forangeoka One", "Fredoka", cursive;
  --font-family-monospace: "Source Code Pro", monospace;
}

* {
  margin: 0%;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  min-height: 100%;
  background-color: var(--primary-dark);
  font-family: var(--helvetica);
  color: white;
}

main {
  padding: 3em;
  display: flex;
  min-width: 600px;
  margin: 0;
}

.hidden {
  display: none;
}

#sidebar {
  width: 50%;
  margin-right: 2em;
  min-width: 300px;
  font-size: 15px;
}

.header {
  display: flex;
  flex-wrap: wrap;
  margin-top: -0.5rem;
  justify-content: space-between;
}

.title {
  margin: 0.5rem 0 0;
  text-transform: uppercase;
  font-family: var(--font-family-cursive);
  font-size: 28px;
}


#instructions {
  padding-top: 1rem;
}

#instructions,
#instructions p,
#instructions ul {
  margin: 0;
  padding-bottom: 1em;
}


code {
  padding: 2px 6px;
  background-color: var(--primary-color-30);
  filter: brightness(2);
  font-family: var(--font-family-monospace);
  font-weight: 900;
  font-size: 14px;
  margin-right: 2px;
  white-space: nowrap;
}

code.help {
  cursor: pointer;
  border-bottom: 1px solid var(--text-color);
}

code.help:hover {
  filter: brightness(2.5);
}

.tooltip {
  position: absolute;
  max-width: 350px;
  padding: 1em 1em;
  background-color: var(--secondary-color);
  border-radius: 4px;
  font-size: 12px;
  line-height: 1.5;
  z-index: 60;
}

.tooltip::after {
  content: '';
  position: absolute;
  top: -12px;
  left: 12px;
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 12px solid var(--secondary-color);
}

.tooltip .opts {
  display: flex;
  gap: 4px;
  flex-wrap: wrap;
}

.tooltip code {
  cursor: pointer;
  filter: brightness(1);
  font-size: 12px;
}

.tooltip code:hover {
  filter: brightness(1.5);
}

.tooltip p {
  padding-bottom: .5em;
}

li {
  line-height: 1.8;
}


#editor {
  position: relative;
  display: flex;
  background-color: var(--primary-color);
  border-radius: 10px;
}

#editor,
pre {
  font-family: var(--font-family-monospace);
  font-size: 16px;
  line-height: 1.5;
  color: var(--text-color);
}

pre {
  margin: 0;
  padding-left: 16px;
  opacity: 0.6;
}

#css {
  height: 260px;
  width: 100%;
  position: relative;
  padding: 10px 0px 10px 0;
  border-radius: 4px;
  overflow: hidden;
}

.line-numbers {
  height: 100%;
  padding: 10px 10px 10px 16px;
  text-align: right;
  color: var(--text-color);
  user-select: none;
  opacity: 0.7;
}

#code {
  display: block;
  width: calc(100%);
  line-height: 24px;
  padding: 0 32px;
  border: none;
  font-family: var(--font-family-monospace);
  font-size: 16px;
  outline: none;
  resize: none;
  overflow: auto;
  background: transparent;
  background: #0000002d;
  color: #AAD1FF;
}

#level-counter {
  position: relative;
  margin-top: 0.5rem;
}

#level-counter .controls {
  position: relative;
  font-size: 15px;
  user-select: none;
  border-radius: 5px;
  overflow: hidden;
  background-color: var(--secondary-color);
  padding: 0px 7px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#level-indicator {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  width: 150px;
  text-align: center;
  cursor: pointer;
  color: var(--primary-color);
  font-variation-settings: 'wght' 500, 'wdth' 100, 'opsz' 30
}

.arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  border-radius: 2px;
  background: var(--primary-color-30);
  fill: var(--primary-color);
}

.arrow.disabled {
  opacity: 0.5;
}

#levelsWrapper {
  position: absolute;
  right: 31px;
  max-width: 160px;
  margin-top: 12px;
  z-index: 80;

  padding: 1em 0.5em;
  background-color: var(--secondary-color);
  border-radius: 4px;

  font-size: 12px;
  line-height: 1.5;
}

#levelsWrapper::after {
  content: '';
  position: absolute;
  top: -12px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 12px solid var(--secondary-color);
}

#levelsWrapper #levels {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


#levelsWrapper #levels span {
  float: left;
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: 2px;
  line-height: 26px;
  background-color: var(--primary-color-30);
  border: 2px solid transparent;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
}


#levelsWrapper #levels span.active,
#levelsWrapper #levels span:hover {
  border-color: var(--text-color);
}


#levelsWrapper #levels span.cleared {
  background-color: var(--primary-dark);
}


#levelsWrapper #reset {
  margin-top: 1em;
  text-align: center;
  cursor: pointer;
  background-color: var(--primary-color-30);
  padding: 4px;
  border-radius: 4px;
  user-select: none;
}

#levelsWrapper #reset:hover {
  background-color: var(--primary-dark);
}

#levelsWrapper #reset:active {
  background-color: var(--primary-color);
}


#next {
  position: absolute;
  right: 1em;
  bottom: 1em;
  padding: 0.4em 0.8em;
  background-color: var(--primary-dark);
  filter: brightness(2.1);
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  user-select: none;
  color: white;
  font-family: var(--helvetica);
}

#next.disabled {
  opacity: 0.5;
}

#next:active {
  outline: none;
}

#next:not(.disabled):hover {
  filter: brightness(1.5);
}


#board {
  position: sticky;
  top: 0;
  width: 50vw;
  height: 50vw;
  min-width: 300px;
  min-height: 300px;
  max-width: 100vh;
  max-height: 100vh;
  overflow: hidden;
}

#foreground,
#background {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 1em;
}

#background {
  z-index: 10;
  border-radius: 10px;
  background-color: var(--secondary-color);
  background-image: url('/bg.png');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;

}

#foreground {
  z-index: 20;
}

.fish,
.pot {
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.fish {
  width: 16%;
  height: 16%;
  margin: 2%;
  background-image: url('/fish/blue.png');
  background-size: 80% 45%;
}

.fish.orange {
  background-image: url('/fish/orange.png');
}

.fish.purple {
  background-image: url('/fish/purple.png');
}

.pot {
  width: 19%;
  height: 19%;
  margin: 0.5%;
  background-image: url('/pot/blue.png');
}

.pot.orange {
  background-image: url('/pot/orange.png');
}

.pot.purple {
  background-image: url('/pot/purple.png');
}


.fishStyle {
  display: none;
}

@media only screen and (max-width: 767px) {
  main {
    flex-direction: column-reverse;
    align-items: center;
    min-width: 100vw;
  }

  main,
  #sidebar {
    font-size: 13px;
  }

  #sidebar {
    width: 100%;
  }

  #background {
    border-radius: 0 0 10px 10px;
  }

  .header {
    justify-content: center;
  }

  .title {
    font-size: 26px;
  }

  #labelFooter {
    display: none;
  }
}