:root {
  --background-color: #16161a;
  --text-color: #c7c7d1;
  --link-color: #68687a;
  --editor-background: #131316;
  --line-numbers-background: #2c2c35;
  --button-background: #d11606;
  --button-hover-background: #f12d22;
  --board-background: #2c2c35;
  --circle-green: #43a047;
  --circle-red: #d11606;
  --circle-yellow: #fbc02d;
  --font-family-sans: "PT Sans", sans-serif;
  --font-family-cursive: "Fredoka One", cursive;
  --font-family-monospace: "Source Code Pro", monospace;
}

* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
}

body {
  display: flex;
  min-width: 600px;
  margin: 0;
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--font-family-sans);
}

#sidebar {
  width: 50%;
  min-width: 300px;
  padding: 2em;
  background-color: var(--background-color);
  font-size: 15px;
}

.header {
  display: flex;
  flex-wrap: wrap;
  margin-top: -0.5rem;
  justify-content: space-between;
}

.title {
  margin: 0.5rem 0 0;
  text-transform: uppercase;
  font-family: var(--font-family-cursive);
  font-size: 28px;
}

pre {
  margin: 0;
}

code {
  padding: 0 4px;
  background-color: var(--editor-background);
  border: 1px solid var(--line-numbers-background);
  border-radius: 4px;
  font-family: var(--font-family-monospace);
  font-weight: 900;
  color: var(--text-color);
  white-space: nowrap;
}

li {
  line-height: 1.5;
}

a {
  color: var(--link-color);
}

a:hover {
  color: var(--link-hover-color);
}

#instructions {
  padding-top: 1rem;
}

#instructions,
#instructions p,
#instructions ul {
  margin: 0;
  padding-bottom: 1em;
}

#editor {
  position: relative;
  display: flex;
  background-color: var(--editor-background);
  border-radius: 10px;
}

#editor,
pre {
  font-family: var(--font-family-monospace);
  font-size: 16px;
  line-height: 1.5;
  color: #777;
}

pre {
  padding-left: 16px;
}

#css {
  height: 260px;
  width: 100%;
  position: relative;
  padding: 10px 0px 10px 0;
  border-radius: 4px;
  overflow: hidden;
}

.line-numbers {
  height: 100%;
  padding: 10px 10px 10px 16px;
  text-align: right;
  border-right: 2px solid var(--line-numbers-background);
  color: var(--text-color);
  user-select: none;
}

#code {
  display: block;
  width: calc(100%);
  line-height: 24px;
  padding: 0 32px;
  border: none;
  font-family: var(--font-family-monospace);
  font-size: 16px;
  outline: none;
  resize: none;
  overflow: auto;
  background: transparent;
  background: #0000002d;
  color: var(--text-color);
}

#level-counter {
  position: relative;
  display: inline-block;
  height: 30px;
  margin-top: 0.5rem;
  font-size: 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

#level-indicator,
.arrow {
  float: left;
  height: 30px;
  background-color: var(--board-background);
}

#level-indicator {
  display: inline-block;
  width: 160px;
  line-height: 30px;
  text-align: center;
  cursor: pointer;
}

#labelLevel {
  margin-left: 5px;
}

.arrow {
  display: inline-flex;
  align-items: center;
  padding: 0.25em 0.5em 0.2em;
  cursor: pointer;
}

.arrow.left {
  border-right: 1.5px solid var(--link-color);
  border-radius: 4px 0 0 4px;
}

.arrow.right {
  border-left: 1.5px solid var(--link-color);
  border-radius: 0 4px 4px 0;
}

.arrow.left:not(.disabled):hover,
.arrow.right:not(.disabled):hover {
  border-color: transparent;
}

.arrow.disabled {
  opacity: 0.5;
}

.triangle {
  display: inline-block;
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
}

.left .triangle {
  border-right: 11px solid var(--link-color);
}

.right .triangle {
  border-left: 11px solid var(--link-color);
}

button {
  display: inline-block;
  padding: 0.4em 0.8em;
  background-color: var(--board-background);
  border: none;
  border-radius: 4px;
  font-family: var(--font-family-sans);
  font-size: 16px;
  line-height: 24px;
  color: var(--text-color);
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-appearance: none;
  appearance: none;
}

button:active {
  outline: none;
}

button:not(.disabled):hover {
  background-color: var(--button-hover-background);
}

#next {
  position: absolute;
  right: 1em;
  bottom: 1em;
  padding-top: 0.3em;
}

#next.disabled {
  opacity: 0.5;
}

#board {
  position: sticky;
  top: 0;
  width: 50vw;
  height: 50vw;
  min-width: 300px;
  min-height: 300px;
  max-width: 100vh;
  max-height: 100vh;
  overflow: hidden;
}

#foreground,
#background {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 1em;
}

#background {
  z-index: 10;
  border-radius: 0 0 0 10px;
  background-color: var(--board-background);
}

#foreground {
  z-index: 20;
}

.circle,
.ring {
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}

.circle.green,
.ring.green {
  --color: var(--circle-green);
}

.circle.red,
.ring.red {
  --color: var(--circle-red);
}

.circle.yellow,
.ring.yellow {
  --color: var(--circle-yellow);
}

.circle {
  width: 16%;
  height: 16%;
  background-color: var(--color);
  margin: 2%;
}

.ring {
  width: 19%;
  height: 19%;
  border: 4px solid var(--color);
  margin: 0.5%;
}

.circleStyle {
  display: none;
}

@media only screen and (max-width: 767px) {
  body {
    flex-direction: column-reverse;
    align-items: center;
    min-width: 100vw;
  }

  body,
  #sidebar {
    font-size: 13px;
  }

  #sidebar {
    width: 100%;
  }

  #background {
    border-radius: 0 0 10px 10px;
  }

  .header {
    justify-content: center;
  }

  .title {
    font-size: 26px;
  }

  #labelFooter {
    display: none;
  }
}
